<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.DdMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Dd" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ddbh" property="ddbh" jdbcType="VARCHAR" />
    <result column="zj" property="zj" jdbcType="REAL" />
    <result column="xm" property="xm" jdbcType="VARCHAR" />
    <result column="dh" property="dh" jdbcType="VARCHAR" />
    <result column="dz" property="dz" jdbcType="VARCHAR" />
    <result column="member" property="member" jdbcType="VARCHAR" />
    <result column="sj" property="sj" jdbcType="VARCHAR" />
    <result column="qx" property="qx" jdbcType="VARCHAR" />
    <result column="fh" property="fh" jdbcType="VARCHAR" />
    <result column="sh" property="sh" jdbcType="VARCHAR" />
    <result column="gys" property="gys" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ddbh, zj, xm, dh, dz, member, sj, qx, fh, sh, gys
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.DdExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dd
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dd
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.DdExample" >
    delete from dd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Dd" >
    insert into dd (id, ddbh, zj, xm, 
      dh, dz, member, sj, 
      qx, fh, sh, gys
      )
    values (#{id,jdbcType=INTEGER}, #{ddbh,jdbcType=VARCHAR}, #{zj,jdbcType=REAL}, #{xm,jdbcType=VARCHAR}, 
      #{dh,jdbcType=VARCHAR}, #{dz,jdbcType=VARCHAR}, #{member,jdbcType=VARCHAR}, #{sj,jdbcType=VARCHAR},
      #{qx,jdbcType=VARCHAR}, #{fh,jdbcType=VARCHAR}, #{sh,jdbcType=VARCHAR}, #{gys,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Dd" >
    insert into dd
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ddbh != null" >
        ddbh,
      </if>
      <if test="zj != null" >
        zj,
      </if>
      <if test="xm != null" >
        xm,
      </if>
      <if test="dh != null" >
        dh,
      </if>
      <if test="dz != null" >
        dz,
      </if>
      <if test="member != null" >
        member,
      </if>
      <if test="sj != null" >
        sj,
      </if>
      <if test="qx != null" >
        qx,
      </if>
      <if test="fh != null" >
        fh,
      </if>
      <if test="sh != null" >
        sh,
      </if>
      <if test="gys != null" >
        gys,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ddbh != null" >
        #{ddbh,jdbcType=VARCHAR},
      </if>
      <if test="zj != null" >
        #{zj,jdbcType=REAL},
      </if>
      <if test="xm != null" >
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="dh != null" >
        #{dh,jdbcType=VARCHAR},
      </if>
      <if test="dz != null" >
        #{dz,jdbcType=VARCHAR},
      </if>
      <if test="member != null" >
        #{member,jdbcType=VARCHAR},
      </if>
      <if test="sj != null" >
        #{sj,jdbcType=VARCHAR},
      </if>
      <if test="qx != null" >
        #{qx,jdbcType=VARCHAR},
      </if>
      <if test="fh != null" >
        #{fh,jdbcType=VARCHAR},
      </if>
      <if test="sh != null" >
        #{sh,jdbcType=VARCHAR},
      </if>
      <if test="gys != null" >
        #{gys,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.DdExample" resultType="java.lang.Integer" >
    select count(*) from dd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dd
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ddbh != null" >
        ddbh = #{record.ddbh,jdbcType=VARCHAR},
      </if>
      <if test="record.zj != null" >
        zj = #{record.zj,jdbcType=REAL},
      </if>
      <if test="record.xm != null" >
        xm = #{record.xm,jdbcType=VARCHAR},
      </if>
      <if test="record.dh != null" >
        dh = #{record.dh,jdbcType=VARCHAR},
      </if>
      <if test="record.dz != null" >
        dz = #{record.dz,jdbcType=VARCHAR},
      </if>
      <if test="record.member != null" >
        member = #{record.member,jdbcType=VARCHAR},
      </if>
      <if test="record.sj != null" >
        sj = #{record.sj,jdbcType=VARCHAR},
      </if>
      <if test="record.qx != null" >
        qx = #{record.qx,jdbcType=VARCHAR},
      </if>
      <if test="record.fh != null" >
        fh = #{record.fh,jdbcType=VARCHAR},
      </if>
      <if test="record.sh != null" >
        sh = #{record.sh,jdbcType=VARCHAR},
      </if>
      <if test="record.gys != null" >
        gys = #{record.gys,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dd
    set id = #{record.id,jdbcType=INTEGER},
      ddbh = #{record.ddbh,jdbcType=VARCHAR},
      zj = #{record.zj,jdbcType=REAL},
      xm = #{record.xm,jdbcType=VARCHAR},
      dh = #{record.dh,jdbcType=VARCHAR},
      dz = #{record.dz,jdbcType=VARCHAR},
      member = #{record.member,jdbcType=VARCHAR},
      sj = #{record.sj,jdbcType=VARCHAR},
      qx = #{record.qx,jdbcType=VARCHAR},
      fh = #{record.fh,jdbcType=VARCHAR},
      sh = #{record.sh,jdbcType=VARCHAR},
      gys = #{record.gys,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Dd" >
    update dd
    <set >
      <if test="ddbh != null" >
        ddbh = #{ddbh,jdbcType=VARCHAR},
      </if>
      <if test="zj != null" >
        zj = #{zj,jdbcType=REAL},
      </if>
      <if test="xm != null" >
        xm = #{xm,jdbcType=VARCHAR},
      </if>
      <if test="dh != null" >
        dh = #{dh,jdbcType=VARCHAR},
      </if>
      <if test="dz != null" >
        dz = #{dz,jdbcType=VARCHAR},
      </if>
      <if test="member != null" >
        member = #{member,jdbcType=VARCHAR},
      </if>
      <if test="sj != null" >
        sj = #{sj,jdbcType=VARCHAR},
      </if>
      <if test="qx != null" >
        qx = #{qx,jdbcType=VARCHAR},
      </if>
      <if test="fh != null" >
        fh = #{fh,jdbcType=VARCHAR},
      </if>
      <if test="sh != null" >
        sh = #{sh,jdbcType=VARCHAR},
      </if>
      <if test="gys != null" >
        gys = #{gys,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Dd" >
    update dd
    set ddbh = #{ddbh,jdbcType=VARCHAR},
      zj = #{zj,jdbcType=REAL},
      xm = #{xm,jdbcType=VARCHAR},
      dh = #{dh,jdbcType=VARCHAR},
      dz = #{dz,jdbcType=VARCHAR},
      member = #{member,jdbcType=VARCHAR},
      sj = #{sj,jdbcType=VARCHAR},
      qx = #{qx,jdbcType=VARCHAR},
      fh = #{fh,jdbcType=VARCHAR},
      sh = #{sh,jdbcType=VARCHAR},
      gys = #{gys,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>